.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.navigation-panel {
    height: 100%;
    width: 52px;
    box-shadow: -8px 0 8px 6px #4B4545;
}

.main-container {
    height: auto;
    padding: 12px;
    flex-grow: 1;
    position: relative;
    background-color: #CDCBCCAA;
}