:root {
    --color-primary-background: #F5F3F5;
}

.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.navigation-panel {
    height: 100%;
    width: 52px;
    box-shadow: -8px 0 8px 6px #4B4545;
}

.main-container {
    height: auto;
    padding: 12px;
    flex-grow: 1;
    position: relative;
    background-color: #CDCBCCAA;
    background-image: none;
    background-repeat: repeat;
    background-position: 0%;
    background-size: auto;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}