@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans&family=Kanit:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Fira Sans', sans-serif;
}

main.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}