.test-btnn {
    padding: 6px;
    font-size: 18px;
    text-align: center;
    color: #CF3333;
    border-radius: 6px;
    border: 0px solid black;
    background-color: #CFCF7C;
}

.test-div {
    text-align: center;
}